In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/project1/data/2018소비자물가지수.csv', encoding='cp949', header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,시도별,지출목적별,2018. 01,2018. 02,2018. 03,2018. 04,2018. 05,2018. 06,2018. 07,2018. 08,2018. 09,2018. 10,2018. 11,2018. 12
1,전국,0 총지수,103.42,104.21,104.10,104.29,104.34,104.13,103.93,104.85,105.65,105.46,104.71,104.35
2,전국,01 식료품 · 비주류음료,106.00,109.07,107.32,107.86,106.85,105.48,105.80,111.34,115.20,112.16,108.67,108.86
3,전국,02 주류 및 담배,102.48,102.58,102.39,102.52,102.37,102.34,102.54,102.52,102.45,102.44,102.65,102.39
4,전국,03 의류 및 신발,103.34,103.96,104.05,104.06,104.08,104.10,103.98,103.98,104.05,104.05,104.40,104.44
5,전국,04 주택 ·수도 · 전기 및 연료,101.06,101.63,101.80,101.78,101.76,101.68,100.08,100.33,102.04,102.32,102.24,102.22
6,전국,05 가정용품 및 가사 서비스,103.50,104.33,105.08,104.60,105.36,104.93,105.39,105.33,105.07,105.50,105.39,105.37
7,전국,06 보건,102.51,102.55,102.65,102.21,102.19,102.36,101.32,101.37,101.32,101.22,101.14,101.10
8,전국,07 교통,102.80,103.07,103.00,102.72,103.63,104.34,104.26,104.53,104.68,106.11,104.38,101.34
9,전국,08 통신,99.89,99.76,99.67,100.15,100.04,99.94,99.39,99.29,99.21,99.16,98.99,98.70
10,전국,09 오락 및 문화,100.45,101.87,101.56,103.14,103.33,101.41,103.05,103.81,103.93,103.48,101.81,100.87
11,전국,10 교육,103.40,103.69,103.99,104.20,104.24,104.26,104.28,104.38,104.46,104.52,104.52,104.57
12,전국,11 음식 및 숙박,106.55,106.94,107.29,107.70,108.07,108.17,108.52,108.76,108.58,108.74,108.96,109.35
13,전국,12 기타 상품 및 서비스,106.11,106.52,106.77,107.03,106.98,107.13,106.85,107.12,107.24,107.04,107.32,107.13

In [10]:
df = pd.read_csv('C:/project1/data/2018소비자물가지수.csv', encoding='cp949', header=0).iloc[:, 2:]
df1 = pd.DataFrame(df.T[0])
df1

               0
2018. 01  103.42
2018. 02  104.21
2018. 03  104.10
2018. 04  104.29
2018. 05  104.34
2018. 06  104.13
2018. 07  103.93
2018. 08  104.85
2018. 09  105.65
2018. 10  105.46
2018. 11  104.71
2018. 12  104.35

In [9]:
df1.index.dtype

dtype('O')